td {
    border: 2px solid red;
    background-color: yellow;
}

th {
    border: 3px solid rgb(57, 5, 247);
    background-color: skyblue;
}

table {
    border: 5px solid blue;
}

ul {
    border: solid red;
    color: indigo;
    background-color: violet;
}

ol {
    border: 3px solid yellow;
    color: orange;
    background-color: red;
}